<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="UwpFcuXUnit.POS" Publisher="CN=CBS" Version="0.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="4a0acc09-4aa4-4335-95d9-a7c919fe2e53" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UwpFcuXUnit.POS</DisplayName>
    <PublisherDisplayName>Company, Inc.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UwpFcuXUnit.POS.App">
      <uap:VisualElements DisplayName="Order Entry" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="UwpFcuXUnit.POS" BackgroundColor="#f2f4f5">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#f2f4f5" />
      </uap:VisualElements>
      <Extensions>        
        <uap:Extension Category="windows.aboveLockScreen" />
        <uap:Extension Category="windows.lockScreenCall" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>